////////////////////////////////////////////////////////////////////////
// direction-layouts
////////////////////////////////////////////////////////////////////////

%direction-layouts {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;

    &%lt {
        text-align: left;
    }

    &%rt {
        text-align: right;
    }

    &%ca {
        justify-content: center;
        align-items: center;
    }

    &%sb {
        justify-content: space-between;
    }

    &%sa {
        justify-content: space-around;
    }
}

// Left to right positioning.
%l-to-r {
    @extend %direction-layouts;
    align-items: center;
    flex-direction: row;
}

// Right to left positioning.
%r-to-l {
    @extend %direction-layouts;
    align-items: center;
    flex-direction: row-reverse;
}

// Top to bottom positioning.
%t-to-b {
    @extend %direction-layouts;
    flex-direction: column;
}

// Bottom to top positioning.
%b-to-t {
    @extend %direction-layouts;
    flex-direction: column-reverse;
}
